{% extends 'layout/layout.html.twig' %}

{% block content %}
    <div class="pt-14 px-2 lg:pt-10 lg:px-0 text-center w-full lg:w-max lg:min-w-[600px] mx-auto mb-[10px]">
        <div class="flex flex-row justify-between gap-[100px] items-center mb-5">
            <h2 class="text-2xl">{{ 'Tag.header'|trans }}</h2>
            {{ include('common/add_button.html.twig', {route: 'new_tag', label: 'Tag.add'}) }}
        </div>
        {{ include('tag/list.html.twig', {tags: paginator.items.getIterator}) }}
        {% include 'common/paginator.html.twig' %}
    </div>
{% endblock %}
